@model Freelancer.Models.Project

@{
    ViewBag.Title = "Details";
}

<div id="project-details">
    <div>
        @Html.ActionLink("Bid on this project", "Bid", "Projects")
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsOpen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsOpen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxExperience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxExperience)
        </dd>

    </dl>
    <table class="table" id="bidders-table">
        <thead>
            <tr>
                <th>
                    Freelancers bidding
                </th>
                <th>
                    Reputation
                </th>
                <th>
                    Bid
                </th>
            </tr>
        </thead>
        @foreach (var bidder in Model.BiddingProjectEmployee)
        {
            <tr>
                <td>
                    <div class="row">
                        <div class="col-lg-9">
                            <img src="@bidder.Employee.AvatarUrl" width="50" />
                        </div>
                        <div class="col-lg-3">
                            <div class="row">
                                <div class="col-lg-12">
                                    @Html.ActionLink(@bidder.Employee.UserName, "User", "User")
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">

                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td></td>
                <td></td>
            </tr>
        }
    </table>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
